@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

h1 {
    font-size: 40px;  
}

h2 {
  font-size: 50px;  
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 35px;
}

p, a {
    font-size: 25px;
}

a:link, a:visited, a:hover, a:active {
    color: inherit;
}

nav ul {
    list-style-type: none;
    display: none;
}

ul a {
    margin-left: 30px;
}

header {
    height: 10vh;
    background-color: rgb(3, 102, 149);
    color: white;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid white;
}

section, form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(3, 102, 149);
    color: white;
    text-align: center;
}

.tagline {
    width: 66%;
    text-align: center;
    margin-bottom: 50px;
}

.hero img {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    margin-top: 50px;
}

.hero hr {
    width: 20%;
    height: 5px;
    background-color: white;
    border: none;
    margin: 1%;
}

#projects {
    justify-content: center;
    background-color: rgb(3, 102, 149);
    color: white;
}

.blue {
    color: rgb(3, 102, 149);
}

.section-title {
    text-align: center;
    margin: 10px;
    margin-top: 50px;
}

.about-text-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.about-text {
    width: 90%;
    margin-bottom: 50px;
    text-align: center;
}

#contact {
    background-color: rgb(40,40,40);
    color: white;
}

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 5%;
}

.project {
    width: 400px;
    height: 350px;
    background-color: #F5F5F5;
    margin-bottom: 50px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project img {
    width: 100%;
    height: 80%;
}

form {
    padding: 0% 10%;
    margin-bottom: 50px;
}

form input {
    margin-bottom: 20px;
    height: 50px;
}

textarea {
    margin-bottom: 20px;
    height: 150px;
}

textarea, form input {
    font-size: 20px;
}

form button {
    height: 50px;
    background-color: rgb(3, 102, 149);
    color: white;
    border: none;
    font-size: 25px;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    header {
        justify-content: space-between;
        border-bottom: none;
    }

    nav ul {
        display: flex;
    }   

    .about-text {
        width: 75%;
        text-indent: 30px;
        text-align: start;
    }

    .projects-wrapper {
        padding: 0 0;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    form {
        padding: 0 25%;
    }
}